.add_btn {
  color: #363434;
  cursor: pointer;
}
.card_view {
  display: flex;
  padding: 50px;
  .task_apace {
    margin-left: 15px;
  }
  .list-group {
    background: #dddddd42;
    padding: 20px;
    min-height: calc(100vh - 220px);
    overflow-y: auto;
  }
  .list-group-item {
    width: 330px;
    border: none;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 25px 0px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .item {
    min-height: 130px;
    max-height: 130px;
  }
  .list_type {
    margin-left: 20px;
  }
  .list_type_space_name {
    margin-bottom: 10px;
  }
}
.list_view {
  padding: 50px;
  margin-bottom: 20px;
  .task_apace {
    margin-bottom: 30px;
  }
  .list-group-item {
    width: 75%;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .list_type_space_name {
    margin-left: 20px;
  }
  .list_type {
    margin-left: 100px;
  }
}
.profile {
  max-width: 40px;
  height: auto;

  img {
    width: 100%;
    min-width: 40px;
    border-radius: 50%;
  }
}
.add_section {
  color: #ccc;
}
.input_error {
  border: red 0.5px solid;
}
.error_msg {
  color: red;
  font-size: 14px;
  margin-top: 6px;
}
.task_type {
  color: #b3b3b3;
}
.width_110 {
  min-width: 110px;
}
.name {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.date {
  min-width: 110px;
}
.task_name {
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.switch_wrapper {
  float: right;
  padding: 10px 20px 0 0;
  .type_switch_btn {
    cursor: pointer;
    font-size: 40px;
    color: #ccc;
  }
}
.delete_icon {
  cursor: pointer;
  color: red;
  font-size: 18px;
}
