<div>
  <div class="header">
    <div class="d-flex align-items-center">
      <!-- <span class="material-symbols-outlined font_weight_light"> arrow_back </span>
      <span class="material-symbols-outlined header_icon"> android </span> -->
      <div class="logo_section">
        <img
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACP0lEQVRYhe2Wv2tTURTHP+fHC6JoJxEKIkKqFuuPoJOLk2sdtKm4OjsouLSW1NjYTdBFHHTwz/BPEKxuVqtQsFUKgrhobZtchyZNWpLc5MW6mAMPHvfdc87nfO85lwd961sPdmwmPB2aCc96iSGpkxfDGZQ5IKCMfJiQ+TRxNC1AMIpVf5MyU2njpFLgaCkcSgJLgFeXymlVSKWAV8g3JIceVEgFoMLFnWtBGB+6H4b/CUCA802WTaR7FboHCEGAwRZfx4dLYWRXAbL32A8kreKVAxO7CrB6gPXIlq5U6Bzg8qvDAEu3WAV+t4tZrjD5VwGSa29zmkkWufL6DiIhwEJbByHfqQodAaglBXNXd5/l6psLEpiLuXSqQhRg742FnLmPmjtqbonb44rzMhpZyJ8ohlM9A7h6wdzFzDE3zP3cysKnn8CPWOyKxCeiLcDBm8s5cx9Vc8zrz8bGxnWEF7HgCPlsMZxMDSDiBTOXzcSGuaPumPmltXUe0n4aAFS1/e3YEmDw9vets68lt83kmPvAt+WP+4LwPAIAMNauF1oCWMYL6rXqtyqvvhuJJkd0nRngVwRAK9p6IpoCZKfWtldv9eRbQJbZ835avtCjCs0VSKqd78bOBmzohVUAgxKdqCDc7QggWww5VRltOO961Q1qqGXmAd5Nylcg/mMqjB0vhdNRAFUKVH/V1Gx79XWgzysDA4s1HxMeEFdBQpPbsdkRbKMUkU0QaxhD9ydMS6W2p6rCowgACGeje/r239kfQPqJNK3vYNEAAAAASUVORK5CYII="
          alt="kannben_logo"
        />
        <span>Kanban Board</span>
        <!-- <div class="h5">Android</div>
        <div class="d-flex font_weight_light">
          <div>5 Boards</div>
          <div class="ms-2">24 Members</div>
        </div> -->
      </div>
    </div>
    <div>
      <span class="material-symbols-outlined font_weight_strong"> chip_extraction </span>
      <span class="material-symbols-outlined ms-3 font_weight_strong"> settings </span>
    </div>
  </div>
</div>
