<div>
  <div class="header">
    <div class="d-flex align-items-center">
      <span class="material-symbols-outlined font_weight_light"> arrow_back </span>
      <span class="material-symbols-outlined header_icon"> android </span>
      <div class="ms-3">
        <div class="h5">Android</div>
        <div class="d-flex font_weight_light">
          <div>5 Boards</div>
          <div class="ms-2">24 Members</div>
        </div>
      </div>
    </div>
    <div>
      <span class="material-symbols-outlined font_weight_strong"> chip_extraction </span>
      <span class="material-symbols-outlined ms-3 font_weight_strong"> settings </span>
    </div>
  </div>
</div>
